.container {
  /* width: 100vw; */
  /* width: fit-content; */
  margin: 10px;
  border-radius: 25px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #22306a;
}

.container_git_vid {
  display: flex;
}

.container_git_vid span {
  margin-right: 10px;
  font-size: 50px;
}

.container_item {
  margin: 10px;
}

.item_one {
  width: 20%;
}

.item_two {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  align-items: center;
  width: 80%;
}

.item_two img {
  width: auto;
  height: 500px;
}

.part_images {
  padding: 10px;
}

.no_project {
  display: flex;
  justify-content: center;
}

.title {
  padding: 10px;
}

@keyframes vibrateTop {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.project_name {
  animation: vibrateTop 1s ease-out;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .item_one {
    width: 90vw;
  }
}
