.container {
  /* width: 100vw; */
  /* width: fit-content; */
  margin: 10px;
  border-radius: 25px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-around;
  background-color: #22306a;
}

.left_part {
  width: 20%;
}

.right_part {
  width: 70%;
}

@media (max-width: 650px) {
  .container {
    flex-direction: column;
  }
}
