.item {
  display: flex;
  width: 300px;
}

.item_each {
  padding: 5px;
  width: 50%;
}

@media (max-width: 450px) {
  .item {
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
  }
  .title_line {
    border-bottom: 2px solid #ddd;
  }
}
