.tab_list {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab {
  padding: 0px 10px;

  border: 1px solid transparent;
  border-bottom: none;
  background: none;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.tab:hover {
  cursor: pointer;
  background: rgb(60, 47, 66);
}

.tab.active {
  /* border-color: #ccc #ccc #fff; */
  /* border-bottom: 5px solid rgb(52, 42, 57); */
  background-color: rgb(52, 42, 57);
  color: whitesmoke;
}

.tab:focus {
  outline: none;
}

.tab_content {
  /* padding: 5px; */
  /* border: 1px solid #ddd; */
  border-top: none;
}

.option {
  display: flex;
  align-items: center;
}

.option span {
  cursor: pointer;
}
