@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.mainTaskbar {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskbar {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
  align-items: center;
  background-color: rgb(78, 59, 87);
}

.taskbarItem_3 {
  margin-right: 10px;
}

.taskbarItem span {
  font-size: 50px;
  cursor: pointer;
}

.iconButton {
  padding: 0;
  border: none;
  background: none;
}

.img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* animation */
.text {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 10px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(23), cursor 0.4s step-end infinite alternate;
}

@media (max-width: 650px) {
  .taskbar {
    width: 100%;
  }

  .mainTaskbar {
    width: auto;
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  .text {
    font-size: 1em;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
