.education {
  display: flex;
  overflow-y: auto;
  text-align: center;
}

.education_item {
  padding: 10px;
}

.education_item img {
  width: 600px;
  height: 400px;
}

button {
  background-color: whitesmoke;
  color: black;
  width: 80px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.certificate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.certificate span,
.certificate p {
  cursor: pointer;
  font-size: 20px;
}
